.food_section .filters_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}

.food_section .filters_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}

.food_section .filters_menu li.active {
  background-color: #222831;
  color: #ffffff;
}

.food_section .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}
.food_section .box a {
  color: #ffffff;
}

.food_section .box .img-box {
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}

.food_section .box .img-box img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.food_section .box .detail-box {
  padding: 15px;
}

.food_section .box .detail-box h5 {
  font-weight: 600;
}

.food_section .box .detail-box p {
  font-size: 15px;
}

.food_section .box .detail-box h6 {
  margin-top: 10px;
}

.food_section .box .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food_section .box .options a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffbe33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food_section .box .options star-rating {
  width: 45px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



.food_section .box .options a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}

.food_section .box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.food_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.food_section .btn-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.food_section .btn-box a:hover {
  background-color: #e69c00;
}


.client_section .heading_container {
    margin-bottom: 30px;
  }
  
  .client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px;
  }
  
  .client_section .box .img-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 115px;
    position: relative;
    margin-top: 30px;
  }
  
  .client_section .box .img-box img {
    border-radius: 100%;
    border: 5px solid #ffbe33;
    position: relative;
  }
  
  .client_section .box .img-box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #ffbe33;
    -webkit-transform: rotate(45deg) translateX(-50%);
            transform: rotate(45deg) translateX(-50%);
  }
  
  .client_section .box .detail-box {
    background-color: #222831;
    color: #ffffff;
    padding: 25px 25px 15px 25px;
    border-radius: 5px;
  }
  
  .client_section .box .detail-box h6 {
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 5px 0;
  }
  
  .client_section .box .detail-box p {
    margin-bottom: 0;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .client_section .owl-carousel .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
    padding: 0 15px;
  }
  
  .client_section .owl-carousel .owl-nav .owl-prev,
  .client_section .owl-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    background-color: #ffbe33;
    color: #ffffff;
    outline: none;
    bottom: 0px;
    font-size: 24px;
    margin: 0 5px;
    border-radius: 100%;
  }
  
  .product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .origins{
    flex: 9;
  }
  
  .cooktime h6:nth-child(1) {
    color: #ffbe33 !important;
    
  }
  
  .origins span{
      border-radius: 2rem;
      background-color: rgba(54, 43, 43, 0.986);
      /* display: inline-block; */
      font-size: 0.8rem;
      color: #ffbe33;
      margin-right: 0.3rem;
      padding: 0 0.5rem;
      margin-top: 0.2rem;
  
  }

  :host ::ng-deep .star-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    margin-left: 48px;
    margin-right: 0px;
    transition: all 0.3s ease;
  }